Repository pickple-ecommerce/backend, pull requests merged in 2024-09, with the labels that each got.

#3 feat: Common 모듈 구현
  common-module/.gitignore
  common-module/README.md
  common-module/build.gradle
  common-module/gradle/wrapper/gradle-wrapper.jar
  common-module/gradle/wrapper/gradle-wrapper.properties
  common-module/gradlew
  common-module/gradlew.bat
  common-module/settings.gradle
  common-module/src/main/java/com/pickple/common_module/CommonModuleApplication.java
  common-module/src/main/java/com/pickple/common_module/domain/model/BaseEntity.java
  common-module/src/main/java/com/pickple/common_module/exception/CommonErrorCode.java
  common-module/src/main/java/com/pickple/common_module/exception/CustomException.java
  common-module/src/main/java/com/pickple/common_module/exception/ErrorCode.java
  common-module/src/main/java/com/pickple/common_module/exception/ErrorResponse.java
  common-module/src/main/java/com/pickple/common_module/presentation/dto/CommonResponse.java
  common-module/src/main/resources/application.yml
  common-module/src/test/java/com/pickple/common_module/CommonModuleApplicationTests.java
Labels: feat, init

#6 Feature/eureka
  .idea/.gitignore
  eureka-server/.gitignore
  eureka-server/build.gradle
  eureka-server/gradle/wrapper/gradle-wrapper.jar
  eureka-server/gradle/wrapper/gradle-wrapper.properties
  eureka-server/gradlew
  eureka-server/gradlew.bat
  eureka-server/settings.gradle
  eureka-server/src/main/java/com/pickple/eureka_server/EurekaServerApplication.java
  eureka-server/src/main/resources/application.yml
  eureka-server/src/test/java/com/pickple/eureka_server/EurekaServerApplicationTests.java
Labels: feat, init

#5 feat: Delivery 도메인 구현 및 Spring data Cassandra 설정
  db-init/delivery/init-delivery.cql
  delivery-service/.gitignore
  delivery-service/build.gradle
  delivery-service/gradle/wrapper/gradle-wrapper.jar
  delivery-service/gradle/wrapper/gradle-wrapper.properties
  delivery-service/gradlew
  delivery-service/gradlew.bat
  delivery-service/settings.gradle
  delivery-service/src/main/java/com/pickple/delivery/DeliveryServiceApplication.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/BaseEntity.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/Delivery.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/DeliveryDetail.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/DeliveryDetailId.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/DeliveryStatus.java
  delivery-service/src/main/java/com/pickple/delivery/domain/model/DeliveryType.java
  delivery-service/src/main/java/com/pickple/delivery/infrastructure/config/AuditorAwareImpl.java
  delivery-service/src/main/java/com/pickple/delivery/infrastructure/config/AuditorConfig.java
  delivery-service/src/main/java/com/pickple/delivery/infrastructure/repository/DeliveryDetailRepository.java
  delivery-service/src/main/java/com/pickple/delivery/infrastructure/repository/DeliveryRepository.java
  delivery-service/src/main/resources/application-dev.yml
  delivery-service/src/main/resources/application.yml
  delivery-service/src/test/java/com/pickple/delivery/DeliveryRepositoryTest.java
  delivery-service/src/test/java/com/pickple/delivery/DeliveryServiceApplicationTests.java
  docker-compose.yml
Labels: feat, init

#12 Feature/commerce
  .idea/.name
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  commerce-service/.gitignore
  commerce-service/build.gradle
  commerce-service/gradle/wrapper/gradle-wrapper.jar
  commerce-service/gradle/wrapper/gradle-wrapper.properties
  commerce-service/gradlew
  commerce-service/gradlew.bat
  commerce-service/settings.gradle
  commerce-service/src/main/java/com/pickple/commerceservice/CommerceServiceApplication.java
  commerce-service/src/main/resources/application-dev.yml
  commerce-service/src/main/resources/application.yml
  commerce-service/src/test/java/com/pickple/commerceservice/CommerceServiceApplicationTests.java
  db-init/commerce/init-commerce.sql
  docker-compose.yml
Labels: init

#14 fix: #10 xml 파일 제거
  .idea/.name
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
Labels: fix

#16 feat: Payment 초기 설정
  db-init/payment/init-payment.sql
  docker-compose.yml
  payment-service/src/main/resources/application-dev.yml
  payment-service/src/main/resources/application.yml
Labels: feat, init
